*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #09090A;
    color: white;
    height: 100vh;
}
.container-top{
    display: flex;
    padding: 48px;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}

h2{
    font-size: 48px;
    line-height: 125%;
    font-family: 'Inter';

    
}
.resgistrardia{
    background-color: transparent;
    color: white;
    border: 1px solid #8B5CF6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 24px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    cursor: pointer;
}

#form-habits{
    display: flex;
    padding: 182px 48px;
    width: fit-content;
}
.habits{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding-right: 15px;

    gap: 45px;
}
.day{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.day div{
    margin-bottom: 8px;

    font-family: 'Roboto mono';
    font-size: 20px;
    line-height: 125%;

    color: #a1a1aa;
    text-align: center;
}
input{
    appearance: none;
    -webkit-appearance: none;


    width: 40px;
    height: 40px;
    
    border: 2px solid #27272A;
    border-radius: 8px;

    background: #18181B;
}

/* pseudo selector*/
input:checked{
    background: #8B5CF6;
    border: 2px solid #A78BFA;
}

@media (max-width: 570px) {
    button div{
        display:none;
    }
}